<div class="mt-4">
  <div class="d-flex flex-column flex-md-row justify-content-md-between justify-content-center align-items-center gap-3">

    <p class="text-center theme-font fs-4 mb-0 fw-bold">Extensions List</p>

    <div class="btn-group" role="group" aria-label="Extension Filter">
      <button mat-raised-button class="mat-button">All</button>
      <button mat-raised-button class="mat-button">Active</button>
      <button mat-raised-button class="mat-button">Inactive</button>
    </div>

  </div>
</div>
