@media (min-width:300px) and (max-width: 991px) {
  .custom-col:nth-child(n) {
    margin-top: 8px !important;

  }
}

//@media (min-width: 992px) {
//  .custom-col:nth-child(n) {
//    padding-right: 8px !important;
//    padding-left: 0 !important;
//    margin-top: 8px !important;
//  }
//  mat-card{
//    height: 250px;
//
//  }
//}


@media (min-width: 1100px) {
  .custom-col:nth-child(n) {
    padding-right: 8px !important;
    padding-left: 0 !important;
    margin-top: 8px !important;
  }
  mat-card{
    height: 190px;
  }
}

.logo-wrapper {
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-shrink: 0;
}

.extension-logo {
  max-width: 70%;
  max-height: 70%;
  object-fit: contain;
}


//:host ::ng-deep .mat-mdc-slide-toggle .mdc-switch__track::after{
//  background-color: hsl(3, 86%, 64%) !important;
//}
//
//:host ::ng-deep .mat-mdc-slide-toggle .mdc-switch__track::before{
//  background-color: hsl(226, 11%, 37%) !important;
//}
