<div class="my-4">
  <div class="d-flex flex-column flex-md-row justify-content-md-between justify-content-center align-items-center gap-3">

    <p class="text-center theme-font fs-4 mb-0 fw-bold">Extensions List</p>

    <div class="btn-group" role="group" aria-label="Extension Filter">
      <button mat-raised-button class="mat-button">All</button>
      <button mat-raised-button class="mat-button">Active</button>
      <button mat-raised-button class="mat-button">Inactive</button>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row g-3"><!-- Add gutter spacing with Bootstrap's g-3 class -->
    @for (extension of extensions; track $index){
      <div class="col-sm-12 col-lg-4 custom-col">

        <!--extension card-->
          <mat-card appearance="outlined" class=" card">

            <div class="d-flex flex-column justify-content-between h-100">

              <mat-card-header>
                <mat-card-title-group class="d-flex justify-content-start">

                  <div class="logo-wrapper me-3">
                    <img src="{{extension.logo}}" alt="{{extension.name}} logo" class="extension-logo" />
                  </div>

                  <div>
                    <mat-card-title class="fw-bold">{{extension.name}}</mat-card-title>
                    <mat-card-subtitle style="font-size: 1rem">{{extension.description}}</mat-card-subtitle>
                  </div>

                </mat-card-title-group>
              </mat-card-header>

              <!-- enable and remove icons -->
              <mat-card-actions>
                <div class="d-flex justify-content-between align-items-center w-100 ">
                  <button mat-raised-button class="mat-button border">Remove</button>
                  <mat-slide-toggle [(ngModel)]="extension.isActive" >

                  </mat-slide-toggle>
                </div>
              </mat-card-actions>

            </div>

          </mat-card>
        <!---end of extension card-->

      </div>
    }
  </div>
</div>
